.orb {
	@include circle($orb-radius);
	
	background-color: $bg-gray;
}

.orb-center {
	background: $orb-center-bg;
}

.orb-moving {
	background-color: darkblue;
	position: relative;
	left: $orbit-radius;
}

.orb-animated {
	animation: orbit 4s linear infinite;
	left: 0;
}

@keyframes orbit {
	0% {
		-webkit-transform: rotateZ(0deg) translateX($orbit-radius);
		transform: rotateZ(0deg) translateX($orbit-radius);
	}
	100% {
		-webkit-transform: rotateZ(360deg) translateX($orbit-radius);
		transform: rotateZ(360deg) translateX($orbit-radius);
	}
}